%h2 About
#body-content
  %p
    %a{:href => 'http://www.esc-sec.ca/journal.php' } The Canadian Entomologist
    has appeared continuously since 1868 and publishes original research papers and scientific notes dealing with all facets of entomology. It is distributed in more than 55 countries around the world and is published six times per year.

  %p<
    This search demonstration was created by David P. Shorthouse using
    %a{:href=> 'http://gnrd.globalnames.org'} scientific name discovery
    and
    %a{:href=> 'http://resolver.globalnames.org'} resolution
    infrastructure developed by the NSF-funded
    = succeed "," do
      %a{:href => 'http://www.globalnames.org'} Global Names project
    vernacular names from the
    %a{:href => 'http://eol.org'} Encyclopedia of Life
    and entity extraction services for place names and geographic coordinates from
    = succeed "." do
      %a{:href => 'http://www.alchemyapi.com/' } AlchemyAPI